Package: naville.wtfjh
Name: WTFJH
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Naville
Author: Naville
Section: Tweaks
Version: 0.0.1-4
Installed-Size: 220
