obj/
CompileDefines.xm
theos/
.theos/
.DS_Store
*.deb
*.pyc
wax.txt
*.log
theos
Cycript.framework
*.zip
ThirdPartyTools/DeviceIDFake/
*.a
./Makefile
Reveal.app/
Reveal*
Reveal.framework
RevealTMP/
*.db
ExtraFWs/
DEBS/