Package: naville.wtfjh
Name: WTFJH
Depends: mobilesubstrate, applist
Version: 0.0.1
Architecture: iphoneos-arm
Description: Ongoing Replacement For Introspy
Maintainer: Naville
Author: Naville
Section: Tweaks
