Package: naville.DeviceIDFake
Name: DeviceIDFake
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Naville
Author: Naville
Section: Tweaks
